@media (max-width: 770px){
    #header {
        background-image: url(img/background2.jpg);
    }
    .container {
        margin-right: 50px;
        margin-left: 50px;
    }
    .logo {
        margin-top: 27px;
        width: 70px;
    }
    .header-text {
        margin-top: 100px;
        color: black;
    }
    h1 {
        font-size: 25px;
        color: black;
    }
    .square {
        height: 12px;
        width: 12px;
        display: inline-block;
        background: #f67c92;
        margin: 15px 0;
    }
    #menuBtn {
        width: 40px;
        right: 50px;
    }
    .btn {
        padding: 18px 40px;
        outline: none;
        background-color: #f67c92;
        border: 2px solid #f67c92;
        font-weight: bold;
        cursor: pointer;
    }
    .feature-col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .contact-right-col {
        display: none;
    }
    .footer-left-col {
        display: none;
    }
    .footer-logo h1{
        display: block
        font-size: 20px;
        color: white;
        letter-spacing: 3px;
    }
}
