*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif; 
}
#header {
    
    height: 100vh;
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
}
.container {
    margin-right: 100px;
    margin-left: 100px;
}
.logo {
    margin-top: 30px;
    width: 100px;
}
.header-text {
    max-width: 350px;
    margin-top: 140px;
}
h1 {
    font-size: 34px;
    color: rgb(43, 42, 42);
}
.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0;
}
.btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    background-color: #f67c92;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.btn:hover {
    color:rgb(94, 92, 92);
}
p {
    font-size: 15px;
    line-height: 18px;
    color: #777;
}
.header-text button {
    margin-top: 20px;
    margin-bottom: 60px;
    color: white;
}
.line1 {
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}
.line2 {
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line3 {
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line {
    line-height: 8px;
}
#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}
nav ul li {
    list-style: none;
    margin: 50px 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
#menuBtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}
#features {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(241, 241, 241);
}
.feature-row {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature-col {
    flex-basis: 25%;
    text-align: center;
}
.feature-col img {
    width: 100px;
}
.feature-col h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}
/* Contact */
.contact-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contact-left-col, .contact-right-col {
    flex-basis: 50%;
}
.contact-left-col h1 {
    color: thistle;
    font-size: 25px;
}
.contact-right-col img {
    width: 100%;
}
form {
    max-width: 350px;
    margin: 30px 0;
}
form input {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #fab3c5;
}
#footer {
    padding: 50px 0 30px;
    background-color: #1f1f1f;   
}
hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #1f1f1f;
}
.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left-col {
    flex-basis: 40%;
    margin-top: 60px;
} 
.footer-right-col {
    flex-basis: 35%;
}
.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.link-title h4 {
    color: #fab3c4;
    margin-bottom: 20px;
}
.link-title small {
    font-size: 13px;
    color: white;
    
}
.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}
.footer-logo h1{
    font-size: 20px;
    letter-spacing: 3px;
}
.footer-logo h2{
    font-size: 15px;
    letter-spacing: 3px;
}
